/* style.css */

/* 
[x] font used: roboto 
[x] dark background color (hero and footer): #1F2937
[x] Hero Main text ("this website is awesome") 48 px #F9FAF8 weight: 900
[x] Hero Secondary text, Header Link Text: 18px #E5E7EB
[x] Header Logo text: 24px #F9FAF8
[x] Button color, call to action background color #3882F6
[x] information header text: 36px #1F2937 weight: 900
[x] Quote section background color: #E5E7EB 
[x] Quote text: 36px light italic #1F2937
*/



body {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    size: 100vH;
    /* background-color: white; */
}

* {
    border: 1px solid red;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upper-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding-left: 0; /* Entfernt die Einrückung */
    margin: 0; /* Optional: Entfernt den äußeren Abstand */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}


.lower-header-row {
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    margin-right: 90px;
    margin-left: 90px;
    flex: 1;
}


.lower-header-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

/* h1 this website is awesome */
h1 {
    font-size: 48px;
    color:#F9FAF8; 
    weight: 900;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}


p {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8; 
    max-width: 80px;
}
.info-text {

}

.button-sign-up-top {

}

.foto-luna {
    max-width: 100%;           /* Ensure the image scales within its container */
    max-height: 100%;          /* Ensure the image does not exceed the container height */
}



.second-website-part {
    background-color: white;
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.some-random-information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}


.kachelnundtexte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.kachelneinsbisvier {
    display: flex;
    align-items: center;
    justify-content: center;
}


.goldendoodlepuppy {
    width: 100px;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    border: 2px solid #3882F6; 
    align-items: center;
    justify-content: center;
    display: block; /* Macht das Bild zu einem Block-Element */
    margin: 0 auto; /* Zentriert das Bild */
}

.some-subtext {
    width: 100px;
    text-align: center;
}


.signupbutton {
    color: #3882F6;
    color: white;
    border-radius: 5px; 
}

.info-header {
    font-size: 48 px;
     color: #F9FAF8;
     font-weight: 900;
}





.info-text {
    font-size: 18px;
    color: #E5E7EB;
}


.third-website-part-quote {
    background-color: #E5E7EB;
}



.inspirationalquote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}


.quotereference {
    font-size: 6px;
    color: #1F2937;
    weight: 900;
}

.calltoactionkachel {
    justify-content: center;
    color: #3882F6;
    padding: 20px 40px 20 px 40px;
}

.headerlinks {

}


